$black-color: rgb(24, 24, 24);
$background-color:linear-gradient(135deg, #76c96e, #51a4a1);
// $border-profile: rgb(226 220 220 / 76%);
$border-projects:rgb(206, 44, 71);
//$border-skills:rgb(226 220 220 / 76%);
$shadow: #9eafaf;